.infoBox{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;

    


}
.infoBox2{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.cardBox{
}